/* Text of Create Button */

.wbdv-text-create {
    font-family: 'Arial', 'Open Sans', sans-serif
}

/* Text of Update Button */

.wbdv-text-update {
    font-family: 'Arial', 'Open Sans', sans-serif
}

/* Text of Remove Button */

.wbdv-text-remove {
    font-family: 'Arial', 'Open Sans', sans-serif
}

/* Text of Edit Button */

.wbdv-text-edit {
    font-family: 'Arial', 'Open Sans', sans-serif
}